/*
font-family: 'Russo One', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
.w{
    margin-left:4px;
    margin-top: 01vh;
    color: rgb(245, 245, 245); 
    font:4vw "Russo One", Helvetica, Arial, Sans-Serif;
		text-shadow: 2px 2px #BF0335, 3px 3px #BF0335, 4px 4px #BF0335, 5px 5px #BF0335;
		
}
body{
    background-color:#013F3F;
    width:100%;
    height:100vh;
}
.sideNavBar{
    background-color: #013333;
    height:100vh;
    width: 5vw;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.wrapper{
    margin-left:5%;
    width:95%;
    height:100%;
}
.wrapperClone{
    width:100%;
    height:100vh;
    font-size:0;
    overflow: hidden;
    position: relative;
}
.grayScaleImgWrapper{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width:95%;
    position: absolute;
    top:0;
    opacity: 0.4;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -1;
}

/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */

.sideNavButtons{
    font-size:2.5vw;
    color:#666666;
    margin-top:10px;
}
.sideNavSocialButtons{
    font-size:1.6vw;
    display: block;
    color:#666666;
    margin-top:10px;
}
.contact-button{
    text-align: center;
    width: 110px;
    height: 37px;
    padding-bottom:35px;
    line-height: 37px;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgb(216, 121, 4);
    background: transparent;
    border-radius: 15px;
    border-width: 4px;
    border-color:rgb(216, 121, 4);
    position: relative;
    left: 0;
}  
a {
    color: #666666;
    text-decoration: none;
}

a:hover 
{
     color:rgb(216, 121, 4); 
     text-decoration:none; 
     cursor:pointer!important;  
}
button:hover{
    background-color:rgb(216, 121, 4);
    color:#013333;
    cursor:pointer;
}
.navSocialButtons{

    position:absolute;
    top:0;
    margin-top:80vh;
    margin-left:1.5vw;
}
.navButtons{

    position:absolute;
    top:0;
    margin-top: 25vh;
    margin-left: 1vw;
}

/* TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT */

.nameHeader{
    line-height: 1.1;
    padding: 5px;
    margin: 0px;
    color: rgb(245, 245, 245);
    font-family: "Russo One";
    text-align: left;
    font-size: 92px;
    letter-spacing: normal;   
}
.aboutCard{
    position:absolute;
    top:0;
    margin-left: 15vh;
    margin-top: 25vh;
}
.about{
    color: #BF0335;
    font-family:"Russo One";
    text-align:left;
    font-size:56px;
    letter-spacing:normal;
    margin:0px;
    line-height:1.1;
}
.aboutSubText{
    font-family:"PT Sans";
    color:rgb(245, 245, 245);
    font-weight:100;
    width:40%;
    margin-top: 20px;
}
.m{
    margin-left:15px;
}
.mainSubTitle{
    line-height: 1;
    padding: 5px;
    margin: 0px;
    color: rgb(224, 224, 224);
    font-family: "PT Sans";
    text-align: left;
    font-size: 56px;
    letter-spacing: normal;
}
.homeTextBox{
    margin-left: 7%;
    width: 40%;
    opacity: 1;
    margin-top:25vh;
    position: absolute;
    top:0;
    padding:20px;
}
span{
    padding:0px!important;
}


/* RUBBERBAND ANIMATION */

.buttonD {
    display: inline-block;
  
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  
  .buttonD {
    animation-name: rubberBand;
    color:#BF0335;
  }
  
  
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
      color:#BF0335;
    }
  
    30% {
      transform: scale3d(1, 0.75, 1);
      color:#BF0335;
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
      color:#BF0335;
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
      color:#BF0335;
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
      color:#BF0335;
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
      color:#BF0335;
    }
  
    to {
      transform: scale3d(1, 1, 1);
          color:#BF0335;

    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
  /*_______________________________________________________*/
  .leftCard{
    padding: 0px;
    margin: 0px;
    /*background: rgb(1, 63, 63);*/
    position: absolute;
    width: 55%;
    height: 100vh;
    top: 0px;
    pointer-events: all;
  }
  .projects{
    width:calc(100%/3);
    height:calc(100%/3);
    display:inline-block;
    background-size:cover;
    background-position:center;
    overflow: hidden;
    position: relative;
  }
  /*.projects {
    -webkit-animation: flip 1s;
    animation: flip 1s;
  }
  @-webkit-keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }
  @keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }
  /* PROJECT BACKGROUND IMAGE CLASSES */

.project1{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    background-image: url("../images/placeholder.png");
}
.project2{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/placeholder.png");
}
.project3{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/cashTrack.png");
}
.project4{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/liriNodeApp.png");
}
.project5{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/ultimateDictionary.png");
  background-repeat:no-repeat;
}
.project6{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/minionWars.png");
}
.project7{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/placeholder.png");
}
.project8{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/placeholder.png");
}
.project9{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-image: url("../images/placeholder.png");
}
.delay-500{
  animation-delay: 500ms;
}
.delay-1200{
  animation-delay: 1200ms;
}
/*____________________________________________________________________________________________________*/